/* Estilo del cuerpo */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;

 }
  
.main-title {
    color:  #60F067; 
    margin-bottom: 3rem;
}

.contenedor {
    width: 100%;
    height: 100%;
    position: relative;
}

.contenedor1 {
    width: 100%;
    height: 50%;
    position: inherit;
}
.imagen {
   width: 100%;
   height: 80%;
   display: block ;
}

.texto-imagen {
    position: absolute;
    top: 6%;
    background-color: rgba(55,55,55,0.5);
    
    padding: 8px;
    left: 12px;
    right: 12px;
    color: #e8e8e4;
    font-family: monospace;
    size: 10px;
}

.navbar {
    background-color: #60F067;
    height:70px
    ;
    width: 1350px; 
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link.active,
.nav-link:hover {
    color: #264653; 
}


.h-100 {
    height: 100%;
}

.text-bg-dark {
    background-color: #264653; 
}

.text-bg-dark h2 {
    color: #e8e8e4;
}

.bg-body-tertiary {
    background-color: white; 
}


footer {
    background-color: #60F067; 
    color: #f8f9fa; 
    padding: 1rem 0;
}
