body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.main-title {
    color: #60F067; 
}

.h2 {
    text-align: center;
    size: 50px;

}

.navbar {
    background-color: #60F067; 
}



.imagetucan{
    height: 50px;
    width: 50px;
} 

.nav-link {
    color: white;
}

.nav-link.active,
.nav-link:hover {
    color: #60F067 ; 
}

.btn-outline-light i {
    color: white;
}



.offcanvas-header,
.offcanvas-title {
    color: #60F067; 
}

.btn-close {
    color: 
    #60F067; 
}



a.text-body-emphasis {
    color: #60F067; 
}

a.text-body-emphasis:hover {
    color: #60F067; 
}

/* Footer */
footer {
    background-color: #60F067; 
    color: white;

}
